/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
html, body {
	margin: 0;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* Shorthand syntax for padding, margin, and borders
* Display property and values... and the differences between them.
* The Box Model
* Pseudo Classes
* Attribute Selectors
******************************************************/

/*****************************************************
* Global Styles
******************************************************/
html, body {
	font-family: Courier, monospace;
}

section {
	padding: 4rem 0;
}

h2 {
	margin-top: 0;
}

/*****************************************************
* Header Styles
******************************************************/
header {
	background-color: #333;
	color: lime;
}

header h1 {
	display: inline-block;
	margin-right: 2rem;
	font-size: 3rem;
}

/*****************************************************
* Welcome/Instructions Section Styles
******************************************************/
img[alt*="welcome"] {
	display: block;
	margin: 0 auto;
	margin-bottom: 2rem;
}

.instructions-wrapper {
	border: 5px solid black;
	padding: 2rem;
}

.instructions-content {
	float: left;
	width: 50%;
}

img[alt*="janeway"] {
	float: right;
	width: 250px;
}

/*****************************************************
* About Me Styles
******************************************************/
.about-me {
	background-color: blue;
	color: #fff;
}

img[alt*="picard"]{
	float: left;
	width: 350px;
	margin-right: 2rem;
	border: 3px solid #fff;
}

.about-me span {
	color: #ff0;
	font-style: italic;
	font-weight: bold;
}

/*****************************************************
* $killz Section Styles
******************************************************/
section:nth-child(4) h2 {
	text-align: right;
}

table {
	width: 100%;
}

td, th {
	color: lime;
	padding: 1rem;
	background-color: #333;
	text-align: left;
}

/*****************************************************
* Contact Form Styles
******************************************************/
section:nth-child(5) {
	background-color: #333;
}

.form-wrapper {
	background-color: darkgreen;
	color: lime;
	padding: 2rem;
}

label {
	display: block;
	margin: 1rem 0 0.5rem 0;
}

input,
textarea {
	padding: 0.5rem 1rem;
	width: 30%;
}

button {
	background-color: lime;
	padding: 0.5rem 2rem;
	margin-top: 1rem;
	border: none;
	font-weight: bold;
}

/*****************************************************
* Footer Styles
******************************************************/
footer {
	background-color: #000;
	color: white;
	text-align: center;
	padding: 1rem 0;
}